@keyframes flip{
    0%{
        transform: rotate(-1deg) translateY(0);
    }

    100%{
        transform: rotate(5deg) translateY(5px);
    }
}


@keyframes flipleft{
    0%{
        transform: translateY(0) rotate(0);
    }

    50%{
        transform: translateY(5px) rotate(-1deg);
    }

    100%{
        transform: translateY(10px) rotate(2deg);
    }

}

@keyframes up{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(10px) ;
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(10deg);
    }
}


@keyframes scale{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(5px) rotate(1deg);
    }

    100%{
        transform:translateY(10px);
    }
}

