// colors

$logo-color: #fcae61;
$logo-color-1: #242f51;
$try-color: #2500f9;
$editor: #e2eaed;
$icon: #feaa25;
$gray: #616369;
$performance :#f55767;
$prototyping: #2563ff;
$vector: #40975f;
$app-devo: #ffecef;
$award : #eaf9ff;
$cloud : #fff6d3;
$custom : #e4ffee;
$planning : #f4f4ff;
$customer : #fdeee4;
$details : #f5f7fa;
$footer : #09142e;
$white : #fff;